<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fatcloud.account">

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!-- 根据wifi信息网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- aliyun oss  -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 23 / -->
    <!-- 用于访问GPS定位 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于进行网络定位 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.external" />

    <application
        android:name=".app.CloudAccountApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:node="merge"
        tools:replace="android:name,android:allowBackup,android:label"
        tools:targetApi="m">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fatcloud.account.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".feature.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 网页内打开 -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="splash_h5"
                    android:scheme="cloud" />
            </intent-filter>


        </activity>


        <activity
            android:name=".feature.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".feature.product.detail.ProductDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.news.detail.NewsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.webs.WebCommonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.about.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.about.contacts.ContactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.account.login.LoginActivity"
            android:configChanges="keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".feature.account.captcha.CaptchaActivity"
            android:configChanges="keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.account.password.PasswordSetActivity"
            android:configChanges="keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.account.password.login.PasswordLoginActivity"
            android:configChanges="keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".feature.order.lists.OrderListActivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.fatcloud.account.feature.order.progress.ScheduleActivity" />


        <activity
            android:name=".feature.order.details.enterprise.company.CompanyRegisterInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.order.details.personal.RegistrantInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.extra.BusinessScopeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.forms.enterprise.license.FormLicenseEnterpriseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.forms.personal.license.FormLicensePersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.forms.personal.tax.FormTaxRegistrationPersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.forms.personal.bookkeeping.FormAgentBookkeepingPersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".feature.forms.enterprise.bank.FormBankActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".feature.forms.personal.bookkeeping.signature.SignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.matisse.MatisseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.matisse.AllPreviewActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.fatcloud.account" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.fatcloud.account" />

        <activity
            android:name=".feature.defray.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.defray.result.CloudPayResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.upgrade.UpgradeActivity"
            android:theme="@style/upgrade"
            android:windowSoftInputMode="stateHidden|adjustPan" />


    </application>

</manifest>